<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${feedTitle}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="subscribe.css" type="text/css" media="all" />
    
</head>
<body>
    <div id="feedBody">
			<div id="feedTitle">
				<a id="feedTitleLink">
					<img id="feedTitleImage" />
				</a>
				<div id="feedTitleContainer">
					<h1 id="feedTitleText"   th:text="${feedTitle}" />
					<h2 id="feedSubtitleText" th:text="${feedDescription}"  />
				</div>
			</div>
			<div id="feedContent">
			<div  th:each="feedEntry : ${entryList}">
				<div class="entry">
					<h3>
						<a th:href="${feedEntry.link}" >
							<span  th:text="${feedEntry.title}" />
						</a>
						<div class="lastUpdated"  th:text="${#dates.format(feedEntry.publishedDate,'YYYY/MM/dd HH:mm:ss')}" />
					</h3>
					<div  class="feedEntryContent" th:utext="${feedEntry.description}"/>
				</div>
				<div style="clear: both;"/>
		</div>
			</div>
		</div>
</body>
</html>

